<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: baseline;
            background-image: url("https://wallpaperaccess.com/full/680072.jpg");
            background-size: 1280px 720px;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
