@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/SignupPage.cshtml";
}

<form id="form1" runat="server">
    <div class="wrapper">
        <div class="form">
            <header>SIGN UP</header>
            <form action="">
                <div class="field name">
                    <div class="input-area">

                        <input id="FirstName" type="text" placeholder="FirstName" />
                        <i class="fas fa-user"></i>
                        <div class="field name">
                            <div class="input-area">

                                <input id="LastName" type="text" placeholder="LastName" />
                                <i class="fas fa-user"></i>
                                <div class="field name">

                                    <div class="input-area">
                                        <input type="Email" placeholder="Email ID" />
                                        <i class=" icon fa-envelope"></i>
                                        <div class="field name">
                                            <div class="input-area">
                                                <input type="Password" placeholder="Password" />
                                                <i class=" icon fas fa-lock"></i>

                                            </div>
                                            <div class="input-area">
                                                <input type="Confirm Password" placeholder=" Confirm Password" />
                                                <i class=" icon fas fa-lock"></i>

                                            </div>
                                        </div>
                                        <li>
                                            <a href="/User/UserLogin">
                                                <input type="submit" value="Signup" />
                                            </a>
                                        </li>
            </form>
        </div>
    </div>
    <a href="https://www.google.com/search?q=href+tah&oq=href+tah&aqs=chrome..69i57j0i10i512l9.1723j0j7&sourceid=chrome&ie=UTF-8#imgrc=zM29TZa-43sFRM">

    </a>
</form>
